/* You can add global styles to this file, and also import other style files */
* {
    box-sizing:border-box;
    font-family: helvetica;
}
.selected {
    background-color: #9C5FF4;
    color: white;
}
.curr-date {
    font-weight: bold;
    background-color: white !important;
}
.container {
    position: absolute;
    margin: 18px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid #CED0D4;
    border-radius: 10px;
    background: white;
    box-shadow: -1px 2px 4px 3px #d9d0d0;
}
.header-calendar {
    margin-left: 10px;
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}
.days-wrapper {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 16px;
    color: #B4B4B4;
}
.days{
    width: 25px;
    margin-bottom: 5px;
}
.dates-wrapper {
    flex-wrap: wrap;
    cursor: pointer;
    margin-top: 15px;
    font-size: 16px;
    display: flex;
    width: 340px;
    height: 295px;
}
.title {
    font-size: 21px;
    font-weight: 500;
    color: #767676;
    width: 208px;
}
.date-cell {
    border-radius: 29px;
    padding: 6px;
    width: 48px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 8px;
}
.btns {
    cursor: pointer;
    color: grey;
    width: 36px;
    padding: 5px;
    border-radius: 27px;
    font-size: 23px;
    /* background: #F2F2F2; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}
.dates-before {
    color: grey
}